<!-- Start Pages Title  -->

<section id="page-title" class="page-title-style2">
  <div class="color-overlay"></div>
  <div class="container inner-img">
    <div class="row">
      <div class="Page-title">
        <div class="col-md-12 text-center">
          <div class="title-text">

            <h2 class="page-title">Liquor Cabinet Blog</h2>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="breadcrumb-trail breadcrumbs">
            <span class="trail-begin"></span>
            <span class="sep">/</span> <span class="trail-end"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Pages Title  -->
<main class="main-content">
  <div ng-app="app">
    <div ng-controller="recipesCtrl" ng-init="setup()">

      <section class="container blog-page">
        <div class="row">

          <div class="col-md-9">
            <div class="ui-blog-left-side">

                <article class="post">

                  
                      <header>
                        <h2>
                          <%= @blog.title %>
                        </h2>
                        <p>
                          <center>
                            <p><%= human_time(@blog.created_at) %>
                              <a href="/users/<%= @blog.user.id %>">by <%= @blog.user.username %></a>
                            </p>
                          </center>
                        </p>
                      </header>
                      <%= simple_format(@blog.content) %>
                      
                      <div id="comments">
                        <header>
                          <h3>Comments <span class="txt-gray">(<%= @blog.comments.length %>)</span></h3>
                        </header>
                      <% if @blog.comments.any? %>
                        <% @blog.comments.each do |comment| %>
                          

                          

                            <ul class="comments-list">
                                <li class="comment">
                                    <% if comment.user.avatar.file %>
                                      <%= image_tag comment.user.avatar.preview, class: "avatar" %>
                                    <% end %>
                                    <div class="comment-body">
                                        <!-- <a class="reply-link" href="#">Reply</a> -->
                                        <h6><a href="#">
                                        <%= comment.user.username %>
                                        </a> <time>
                                          <%= human_time(comment.created_at.in_time_zone(comment.user.timezone)) %>   
                                        </time></h6>
                                        <p>
                                          <%= comment.content %>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        <% end %>
                      <% end %>                      
                    </div>


                    <% if current_user %>
                      <div id="respond">
                        <h3>Leave a comment</h3>
                          <%= form_for @comment, :html => {:class => "comment-form"} do |f| %>

                              <div class="form-group">
                                <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "Message" %>
                              </div>
                              <%= f.hidden_field :user_id, value: current_user.id %>
                              <%= f.hidden_field :blog_id, value: @blog.id %>

                              <%= f.submit "Add comment", class: "btn btn-color" %>
                          <% end %>

                      </div>
                    <% end %>


                 <!-- BEGINNING OF SIDEBAR -->
                </div>
              </div>
                  <%= render partial: "/recipes/sidebar" %>
            </div>

          </div>

              
        </div>

              <!-- END OF DELIVERY ADDRESS SECTION -->

      </div>
    </article>
  </div>
</div>


  <!-- Main container end -->
</main>

<!-- Content End -->