<% recipes.each do |recipe| %>
            <div class="col-xs-12 recipe-cards">
              <div class="item-block">
                <header class="main-index">
                  <% if recipe.card_image.file %>
                    <%= image_tag recipe.card_image.preview %>
                  <% else %>
                    <i class="fa fa-5x fa-glass" aria-hidden="true"></i>
                  <% end %>

                  <div class="hgroup">
                    <h4><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h4>
                    <% if recipe.average_rating > 3 %>
                      <h5><span class="label label-warning">Popular</span></h5>
                    <% end %>
                  </div>
                  <div class="header-meta">
                    <span><a href="/users/<%= recipe.user.id %>">Submitted by <%= recipe.user.username %></a></span>
                  </div>
                </header>
                <div class="item-body">
                  <p><%= recipe.description %></p>
                  <% if recipe.photo_credit_url && recipe.photo_credit %>
                    <p>
                      Photo by 
                      <%= link_to "#{recipe.photo_credit}", "#{recipe.photo_credit_url}", method: :delete %>
                    </p>
                  <% end %>
                </div>

                <footer>
                <!-- This is all for handling ratings -->
                  <span>
                  

                  <%= render partial: "/recipes/ratings_star_layout", locals: {recipe: recipe} %>


                  </span>
                </p>
                  <p class="status"><strong></strong></p>
                  <p class="status"><strong></strong></p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-danger" href="/recipes/<%= recipe.id %>">Make This!</a>
                  </div>
                </footer>
              </div>
            </div>
          <% end %>
          <!-- END Job item -->
          <!-- END Restaurant detail -->