<% @recipes.each do |recipe| %>
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <img onClick="ratingStarRate(5,1,1)" src="img/Bayleaf.jpg" alt="">
                  <div class="hgroup">
                    <h4><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h4>
                    <h5><span class="label label-warning">Popular</span></h5>
                  </div>
                  <div class="header-meta">
                    <span><a href="/users/<%= recipe.user.id %>">Submitted by <%= recipe.user.username %></a></span>
                  </div>
                </header>
                <div class="item-body">
                  <p><%= recipe.description %></p>
                </div>

                <footer>
                  <span>

                    <% if current_user&&current_user.ratings.find_by(recipe_id: recipe.id) %>
                          <% if current_user.ratings.find_by(recipe_id: recipe.id).score == 5 %>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 1' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 2' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 3' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 4' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 5' ></i> </span>
                          <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 4 %>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 1' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 2' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 3' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 4' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 5' ></i> </span>
                          <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 3 %>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 1' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 2' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 3' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 4' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 5' ></i> </span>
                          <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 2 %>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 1' ></i> </span>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 2' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 3' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 4' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 5' ></i> </span>
                          <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 1 %>
                            <span style='color: #FFCC00;'>
                              <i class='fa fa-star 1' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 2' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 3' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 4' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star 5' ></i> </span>
                          <% end %>
                    <% elsif current_user %>
                      <% if recipe.average_rating.round == 5 %>
                      <span>
                        <span id="1" onmouseover="ratingStarHover(this,1)" onclick="ratingStarRate(this,1,<%= current_user.id %>,<%= recipe.id %>)" style="color: #ED1C3B;"><i class="fa fa-star 1" ></i></span>
                        <span id="2" onmouseover="ratingStarHover(this,2)" onclick="ratingStarRate(this,2,<%= current_user.id %>,<%= recipe.id %>)" style="color: #ED1C3B;"><i class="fa fa-star 2" ></i></span>
                        <span id="3" onmouseover="ratingStarHover(this,3)" onclick="ratingStarRate(this,3,<%= current_user.id %>,<%= recipe.id %>)" style="color: #ED1C3B;"><i class="fa fa-star 3" ></i></span>
                        <span id="4" onmouseover="ratingStarHover(this,4)" onclick="ratingStarRate(this,4,<%= current_user.id %>,<%= recipe.id %>)" style="color: #ED1C3B;"><i class="fa fa-star 4" ></i></span>
                        <span id="5" onmouseover="ratingStarHover(this,5)" onclick="ratingStarRate(this,5,<%= current_user.id %>,<%= recipe.id %>)" style="color: #ED1C3B;"><i class="fa fa-star 5" ></i></span>
                      </span>
                      <% elsif recipe.average_rating.round == 4 %>
                      <span>
                        <span id="1" onmouseover="ratingStarHover(this,1)" style="color: #ED1C3B;"><i class="fa fa-star 1" ></i></span>
                        <span id="2" onmouseover="ratingStarHover(this,2)" style="color: #ED1C3B;"><i class="fa fa-star 2" ></i></span>
                        <span id="3" onmouseover="ratingStarHover(this,3)" style="color: #ED1C3B;"><i class="fa fa-star 3" ></i></span>
                        <span id="4" onmouseover="ratingStarHover(this,4)" style="color: #ED1C3B;"><i class="fa fa-star 4" ></i></span>
                        <span id="5" onmouseover="ratingStarHover(this,5)" style="color: #CCCCCC;"><i class="fa fa-star 5" ></i></span>
                      </span>
                      <% elsif recipe.average_rating.round == 3 %>
                      <span>
                        <span id="1" onmouseover="ratingStarHover(this,1)" style="color: #ED1C3B;"><i class="fa fa-star 1" ></i></span>
                        <span id="2" onmouseover="ratingStarHover(this,2)" style="color: #ED1C3B;"><i class="fa fa-star 2" ></i></span>
                        <span id="3" onmouseover="ratingStarHover(this,3)" style="color: #ED1C3B;"><i class="fa fa-star 3" ></i></span>
                        <span id="4" onmouseover="ratingStarHover(this,4)" style="color: #CCCCCC;"><i class="fa fa-star 4" ></i></span>
                        <span id="5" onmouseover="ratingStarHover(this,5)" style="color: #CCCCCC;"><i class="fa fa-star 5" ></i></span>
                      </span>
                      <% elsif recipe.average_rating.round == 2 %>
                      <span>
                        <span id="1" onmouseover="ratingStarHover(this,1)" style="color: #ED1C3B;"><i class="fa fa-star 1" ></i></span>
                        <span id="2" onmouseover="ratingStarHover(this,2)" style="color: #ED1C3B;"><i class="fa fa-star 2" ></i></span>
                        <span id="3" onmouseover="ratingStarHover(this,3)" style="color: #CCCCCC;"><i class="fa fa-star 3" ></i></span>
                        <span id="4" onmouseover="ratingStarHover(this,4)" style="color: #CCCCCC;"><i class="fa fa-star 4" ></i></span>
                        <span id="5" onmouseover="ratingStarHover(this,5)" style="color: #CCCCCC;"><i class="fa fa-star 5" ></i></span>
                      </span>
                      <% elsif recipe.average_rating.round == 1 %>
                      <span>
                        <span id="1" onmouseover="ratingStarHover(this,1)" style="color: #ED1C3B;"><i class="fa fa-star 1" ></i></span>
                        <span id="2" onmouseover="ratingStarHover(this,2)" style="color: #CCCCCC;"><i class="fa fa-star 2" ></i></span>
                        <span id="3" onmouseover="ratingStarHover(this,3)" style="color: #CCCCCC;"><i class="fa fa-star 3" ></i></span>
                        <span id="4" onmouseover="ratingStarHover(this,4)" style="color: #CCCCCC;"><i class="fa fa-star 4" ></i></span>
                        <span id="5" onmouseover="ratingStarHover(this,5)" style="color: #CCCCCC;"><i class="fa fa-star 5" ></i></span>
                      </span>
                      <% else %>
                      <span>
                        <span id="1" onmouseover="ratingStarHover(this,1)" onclick="ratingStarRate(this,1,<%= current_user.id %>,<%= recipe.id %>)" style="color: #CCCCCC;"><i class="fa fa-star 1" ></i></span>
                        <span id="2" onmouseover="ratingStarHover(this,2)" onclick="ratingStarRate(this,2,<%= current_user.id %>,<%= recipe.id %>)" style="color: #CCCCCC;"><i class="fa fa-star 2" ></i></span>
                        <span id="3" onmouseover="ratingStarHover(this,3)" onclick="ratingStarRate(this,3,<%= current_user.id %>,<%= recipe.id %>)" style="color: #CCCCCC;"><i class="fa fa-star 3" ></i></span>
                        <span id="4" onmouseover="ratingStarHover(this,4)" onclick="ratingStarRate(this,4,<%= current_user.id %>,<%= recipe.id %>)" style="color: #CCCCCC;"><i class="fa fa-star 4" ></i></span>
                        <span id="5" onmouseover="ratingStarHover(this,5)" onclick="ratingStarRate(this,5,<%= current_user.id %>,<%= recipe.id %>)" style="color: #CCCCCC;"><i class="fa fa-star 5" ></i></span>
                      </span>
                      <% end %>
                    <% else %>
                      <% if recipe.average_rating == 5 %>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                          <% elsif recipe.average_rating == 4 %>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                          <% elsif recipe.average_rating == 3 %>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                          <% elsif recipe.average_rating == 2 %>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                          <% elsif recipe.average_rating == 1 %>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                          <% else %>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                          <% end %>
                    <% end %>

                    
                    <span class="review">
                      (<span><%= recipe.total_ratings %></span>)
                    </span>
                  </span>
                </p>
                  <p class="status"><strong></strong></p>
                  <p class="status"><strong></strong></p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-danger" href="/recipes/<%= recipe.id %>">Make This!</a>
                  </div>
                </footer>
              </div>
            </div>
          <% end %>
          <!-- END Job item -->
          <!-- END Restaurant detail -->