<div class="nested-fields">
    <%= f.label :ingredient %>
    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %>
    <%= f.label "Brand (Optional)" %>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, selected: 2 %>
    <%= f.label "Is garnish?" %>
    <%= f.select :garnish, [[true], [false]], selected: false %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.label :measurement %>
    <%= f.select :measurement, [["volume (oz)"], ["mass (oz)"], ["count"], ["dash"]], selected: ["volume (oz)"]%>
    <br>
    <%= link_to_remove_association 'Remove Ingredient', f %>
    <hr>
</div>