<% recipes.each do |recipe| %>
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <% if recipe.card_image.file %>
                    # <%= image_tag recipe.card_image.preview %>
                  <% else %>
                    <i class="fa fa-glass" aria-hidden="true"></i>
                  <% end %>

                  <div class="hgroup">
                    <h4><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h4>
                    <% if recipe.average_rating > 3 %>
                      <h5><span class="label label-warning">Popular</span></h5>
                    <% end %>
                  </div>
                  <div class="header-meta">
                    <span><a href="/users/<%= recipe.user.id %>">Submitted by <%= recipe.user.username %></a></span>
                  </div>
                </header>
                <div class="item-body">
                  <p><%= recipe.description %></p>
                </div>

                <footer>
                <!-- This is all for handling ratings -->
                  <span>
                  <!-- If the current user has rated the drink -->
                    <% if current_user&&current_user.ratings.find_by(recipe_id: recipe.id) %>
                      <% if current_user.ratings.find_by(recipe_id: recipe.id).score == 5 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['gold_star'],ENV['grey_star'],5,5)} %>
                      <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 4 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['gold_star'],ENV['grey_star'],4,5)} %>
                      <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 3 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['gold_star'],ENV['grey_star'],3,5)} %>
                      <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 2 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['gold_star'],ENV['grey_star'],2,5)} %>
                      <% elsif current_user.ratings.find_by(recipe_id: recipe.id).score == 1 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['gold_star'],ENV['grey_star'],1,5)} %>
                      <% end %>
                  <!-- If the current user has not rated the drink -->
                    <% elsif current_user %>
                      <% if recipe.average_rating.round == 5 %>
                        <%= render partial: "unrated_user_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],5,5), current_user: current_user, recipe: recipe} %>
                      <% elsif recipe.average_rating.round == 4 %>
                        <%= render partial: "unrated_user_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],4,5), current_user: current_user, recipe: recipe} %>
                      <% elsif recipe.average_rating.round == 3 %>
                        <%= render partial: "unrated_user_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],3,5), current_user: current_user, recipe: recipe} %>
                      <% elsif recipe.average_rating.round == 2 %>
                        <%= render partial: "unrated_user_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],2,5), current_user: current_user, recipe: recipe} %>
                      <% elsif recipe.average_rating.round == 1 %>
                        <%= render partial: "unrated_user_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],1,5), current_user: current_user, recipe: recipe} %>
                      <% else %>
                        <%= render partial: "unrated_user_stars", locals: {colors: star_array(ENV['grey_star'],ENV['grey_star'],5,5), current_user: current_user, recipe: recipe} %>
                      <% end %>
                  <!-- If the user is not logged in, and therefore unable to rate -->
                    <% else %>
                      <% if recipe.average_rating == 5 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],5,5)} %>
                      <% elsif recipe.average_rating == 4 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],4,5)} %>
                      <% elsif recipe.average_rating == 3 %>
                        <%= render partial: "rated_stars", locals: {colors: star_array(ENV['red_star'],ENV['grey_star'],3,5)} %>
                      <% elsif recipe.average_rating == 2 %>
                        <%= render partial: "rated_stars", locals: {color1: star_array(ENV['red_star'],ENV['grey_star'],2,5)} %>
                      <% elsif recipe.average_rating == 1 %>
                        <%= render partial: "rated_stars", locals: {color1: star_array(ENV['red_star'],ENV['grey_star'],1,5)} %>
                      <% else %>
                        <%= render partial: "rated_stars", locals: {color1: star_array(ENV['grey_star'],ENV['grey_star'],5,5)} %>
                      <% end %>
                    <% end %>

                    
                    <span class="review">
                      (<span><%= recipe.total_ratings %></span>)
                    </span>
                  </span>
                </p>
                  <p class="status"><strong></strong></p>
                  <p class="status"><strong></strong></p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-danger" href="/recipes/<%= recipe.id %>">Make This!</a>
                  </div>
                </footer>
              </div>
            </div>
          <% end %>
          <!-- END Job item -->
          <!-- END Restaurant detail -->