<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Submitted by</th>
  </tr>
<% @recipes.each do |recipe| %>
  <tr>
    <td><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></td>
    <td><a href="/recipes/<%= recipe.id %>"><%= recipe.description %></a></td>
    <td><a href="/users/<%= recipe.user.id %>"><%= recipe.user.username %></a></td>
  </tr>
<% end %>
</table>
<div class="form-group navbar-form navbar-left">
  <p>Search recipes by name</p>
  <%= form_tag('/recipes/search') do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<div class="form-group navbar-form navbar-left">
  <p>Search recipes by ingredient</p>
  <%= form_tag('/recipes/search') do %>
    <%= text_field_tag :ingredient_search %>
    <%= submit_tag "Search" %>
  <% end %>
</div>