<!-- Start Pages Title  -->

<section id="page-title" class="page-title-style2">
  <div class="color-overlay"></div>
  <div class="container inner-img">
    <div class="row">
      <div class="Page-title">
        <div class="col-md-12 text-center">
          <div class="title-text">
            <h6>Great Service</h6>
            <h2 class="page-title">Find your perfect drink</h2>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="breadcrumb-trail breadcrumbs">
            <span class="trail-begin"><a href="#">Home</a></span>
            <span class="sep">/</span> <span class="trail-end">Restaurant List</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Pages Title  -->
<!-- Content Start -->

<main class="main-content">



  <div class="container internal-body-container">
    <!-- Main container -->

    <div class="row">
      <!-- Main row -->

      <div class="col-md-3">
        <aside>
          <div class="filter-wrapper">

            <div>
              <div class="input-group col-md-12">

                <div class="form-group navbar-form navbar-left">
                  <p>Search recipes by name</p>
                  <%= form_tag('/recipes/search') do %>
                    <%= text_field_tag :search %>
                    <%= submit_tag "Search" %>
                  <% end %>
                </div>

                <div class="form-group navbar-form navbar-left">
                  <p>Search recipes by ingredient</p>
                  <%= form_tag('/recipes/search') do %>
                    <%= text_field_tag :ingredient_search %>
                    <%= submit_tag "Search" %>
                  <% end %>
                </div>

                <div class="form-group navbar-form navbar-left">
                  <p>Search most popular drinks by city</p>
                  <%= form_tag('/recipes/search') do %>
                    <%= text_field_tag :city %>
                    <%= submit_tag "Search" %>
                  <% end %>
                </div>

              </div>
            </div>

            <div class="filter-mobileTop" id="filterMenuTop">
              Filter <span class="text-right"><i class="fa fa-angle-down"></i></span>
            </div>

            <div class="leftside-filter" id="mobileFilter">
              <div class="filter-option-content">
                <div class="restaurant-status-section">
                  <div class="restaurant-status-title gray-deep-bg">
                    <i class="fa fa-glass" aria-hidden="true"></i> Status
                  </div>
                  <div class="restaurant-status-filter">
                    <ul class="list-unstyled">
                      <li>

                        <input type="checkbox" id="restaurantOpen">
                        <label for="restaurantOpen"><i class="icon-check custom-check" aria-hidden="true"></i> Restaurants Now Open</label>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="restaurant-service-section">
                  <div class="restaurant-service-title gray-deep-bg">
                    <i class="fa fa-glass" aria-hidden="true"></i> Service
                  </div>
                  <div class="restaurant-service-filter">
                    <ul class="list-unstyled">
                      <li>
                        <input type="checkbox" name="services" id="serviceDelivery" value="Delivery" checked>
                        <label for="serviceDelivery"><i class="icon-check custom-check" aria-hidden="true"></i> Delivery</label>
                      </li>
                      <li>
                        <input type="checkbox" name="services" id="serviceCollection" value="Collection" checked>
                        <label for="serviceCollection"><i class="icon-check custom-check" aria-hidden="true"></i> Collection</label>
                      </li>
                      <li>
                        <input type="checkbox" name="services" id="serviceReservation" value="Reservation" checked>
                        <label for="serviceReservation"><i class="icon-check custom-check" aria-hidden="true"></i> Reservation</label>
                      </li>
                    </ul>
                  </div>

                </div>

                <div class="restaurant-cuisines-section">
                  <div class="restaurant-cuisines-title gray-deep-bg">
                    <i class="fa fa-glass" aria-hidden="true"></i> Cuisine
                  </div>
                  <div class="restaurant-cuisines-filter">
                    <ul class="list-unstyled">
                      <li>
                        <input type="checkbox" value="" name="allcuisines" id="allCuisines" checked>
                        <label for="allCuisines"><i class="icon-check custom-check" aria-hidden="true"></i> View All</label>
                      </li>
                      <li>
                        <input type="checkbox" value="" name="allcuisines" id="SigleCuisine">
                        <label for="SigleCuisine"><i class="icon-check custom-check" aria-hidden="true"></i> Indian</label>
                      </li>

                    </ul>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </aside>


      </div>

      <div class="col-md-9">

        <div class="row">
          <!-- Drink detail -->
          <!-- Job item -->
          <%= paginate @recipes %>
          <%= render partial: "recipe_cards", locals: {recipes: @recipes} %>
        </div>
        <%= paginate @recipes %>

      </div>

    </div>
    <!-- Main row end -->

  </div>
  <!-- Main container end -->

</main>

<!-- Content End