<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>
<div class = "recipe-card">
  <p>Ingredients:</p>
  <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li><%= recipe_ingredient.measure_unit %>
      <%= recipe_ingredient.brand.name %>
      <%= recipe_ingredient.ingredient.name %></li>
    <% end %>
  </ul>
  <p><%= @recipe.instructions %></p>
</div>
<a href ="/recipes">Return to Index</a>