<h1><%= @user.username %>'s Liquor Cabinet</h1>

<% if current_user.id == @user.id %>
  <p>See what drinks you can make!</p>
  <a href="/recipes/?personal_index=true&ignore_brand=true">
  <p>Garnish required/Ignore Brand</p>
  </a>
  <a href="/recipes/?personal_index=true&ignore_garnish=true">
  <p>Ignore Garnish/Ignore Brand</p>
  </a>
  <a href="/recipes/?personal_index=true&require_brand=true">
  <p>Garnish required/Brand required</p>
  </a>
  <a href="/recipes/?personal_index=true&require_brand=true&ignore_garnish=true">
  <p>Ignore Garnish/Brand required</p>
  </a>

  <p>Add a new ingredient to your cabinet:</p>

  <%= form_tag '/cabinets', method: :post do %>

    <div>
      <%= label_tag :ingredient_id %>
      <%= collection_select :ingredient, :ingredient_id, Ingredient.all, :id, :name %>
    </div>
    <div>
      <%= hidden_field_tag :user_id, current_user.id %>
    </div>
    <%= submit_tag "Add Ingredient" %>

  <% end %>
<% end %>

<table>
  <tr>
    <th>Liquor</th>
    <th>Remove?</th>
  </tr>
  <% @user.cabinets.each do |cabinet| %>
    <tr>
      <td><%= cabinet.ingredient.name %></td>
      <td><% if current_user.id == @user.id %>
            <%= link_to "Remove from Cabinet", "/cabinets/#{cabinet.id}", method: :delete %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>

<a href="/recipes">Back to Index</a>