<!-- Content Start -->


<!-- start static header -->

<section class="static-section">
  <div class="container">

    <div class="row static-header-content-wrapper">
      <div class="col-md-12 static-header-content">
        <div class="static-header-text">
          <h4 class="white">BROWSE DELICIOUS DRINK RECIPES AND BEGIN YOUR JOURNEY IN MIXOLOGY</h4>
          <h2 class="white margin-bottom-30">TICKLE YOUR TASTEBUDS</h2>
        </div>
        <div class="search-form-wrap2">
          <form class="clearfix" action="#">
            <div class="input-field-wrap pull-left">
              <input class="search-form-input" name="key-word" placeholder="e.g. Martini, Manhattan, Greenpoint" type="text" />
            </div>
            <div class="select-field-wrap pull-left">
              <select class="search-form-select" name="categories">
                <option class="options" value="all-categories">FEEL LIKE HAVING</option>
                <option class="options" value="whiskey">WHISKEY</option>
                <option class="options" value="gin">GIN</option>
                <option class="options" value="vodka">VODKA</option>
                <option class="options" value="tequila ">TEQUILA</option>
                <option class="options" value="rum">RUM</option>
                <option class="options" value="cognac">COGNAC</option>
                <option class="options" value="liqueur">LIQUEUR</option>
              </select>
            </div>
            <div class="submit-field-wrap pull-left">
              <input class="search-form-submit bgred-1 white" name="key-word" type="submit" value="FIND A COCKTAIL" />
            </div>
          </form>
        </div>

      </div>
    </div>



  </div>
</section>

<!-- end static header -->

<section class="order-process-step">
  <div class="container frontend">

    <div class="clearfix"></div>

    <!--Facts-->

    <!--Process Block-->

    <div class="block process-block">
      <!--<h2>The process</h2>
                <h5>4 Steps for Success</h5>-->

      <div class="row text-center">
        <ol class="process">
          <li class="col-md-3 col-sm-6"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <h4>Record your liquor inventory</h4>

          </li>
          <li class="col-md-3 col-sm-6"> <i class="fa fa-list-ol"></i>
            <h4>See what drinks you can make</h4>

          </li>
          <li class="col-md-3 col-sm-6"> <i class="fa fa-glass"></i>
            <h4>Choose a delicious recipe</h4>

          </li>
          <li class="col-md-3 col-sm-6"> <i class="fa fa-thumbs-o-up"></i>
            <h4>Happy, Enjoy</h4>

          </li>
        </ol>
      </div>

      <div class="clearfix"></div>
    </div>
    <!--/Process Block-->
    <div class="clearfix"></div>

    <!--/Facts-->

  </div>
</section>


<section id="best-restaurant" class="best-restaurant">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="font-lg">Choose from the  <span class="font-semibold chef-red">Most Popular Cocktails</span></h2>
      </div>
      <!-- col-md-12 -->
    </div>

    <!-- Single Restaurant detail -->
    <div class="row">
      <!-- Restaurant detail -->
      <% @recipes.each do |recipe| %>
        <div class="col-md-6 col-xs-12">
          <div class="item-block">
            <header>
              <a href="#"><img src="img/Bayleaf.jpg" alt=""></a>
              <div class="hgroup">
                <h4><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h4>
                <h5><span class="label label-warning">Popular</span></h5>
              </div>
              <div class="header-meta">
                <span class><a href="/users/<%= recipe.user.id %>">Submitted by <%= recipe.user.username %></a></span>
              </div>
            </header>

            <footer>
              <p class="status">
                <% if recipe.average_rating == 5 %>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                          <% elsif recipe.average_rating == 4 %>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #ED1C3B;'>
                              <i class='fa fa-star' ></i> </span>
                            <span style='color: #CCCCCC;'>
                              <i class='fa fa-star' ></i> </span>
                <% end %>
                (<span><%= recipe.total_ratings %></span>)
              </p>
              <p class="status"><strong></strong> </p>
              <p class="status"><strong></strong> </p>

              <div class="action-btn">
                <a class="btn btn-xs btn-danger" href="/recipes/<%= recipe.id %>">Make this!</a>
              </div>
            </footer>
          </div>
        </div>
        <!-- END Restaurant detail -->
      <% end %>

  </div>



</section>





<section class="bt-block-home-parallax" style="background-image: url(img/reparallax-one.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lookbook-product">
          <h2>Your journey in mixology begins now.</h2>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.bt-block-home-parallax -->





<!-- start featured restaurant -->
<div class="featured-product">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">

        <h2 class="font-lg">Discover a <span class="font-semibold chef-red">New Drink</span> & Start Mixing</h2>
      </div>
      <!-- col-md-12 -->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="new-restaurant text-center">
          <ul class="list-unstyled list-inline">
            <li>
              <a href="reservation.html"><img src="img/Bayleaf.jpg" alt="bayleaf"></a>
            </li>
            <li>
              <a href="reservation.html"><img src="img/Bayleaf-Indiantakeaway-Ongar.jpg" alt="Bayleaf Indiantakeaway Ongar"></a>
            </li>
            <li>
              <a href="reservation.html"><img src="img/Deea-Bangladeshi-Cuisine.png" alt="Deea Bangladeshi Cuisine"></a>
            </li>
            <li>
              <a href="reservation.html"><img src="img/Zeera-Indian-Cuisine.png" alt="Zeera Indian Cuisine"></a>
            </li>
            <li>
              <a href="reservation.html"><img src="img/Bayleaf.jpg" alt="Bayleaf"></a>
            </li>
            <li>
              <a href="reservation.html"><img src="img/Bayleaf-Indiantakeaway-Ongar.jpg" alt=""></a>
            </li>
            <li>
              <a href="reservation.html"><img src="img/Deea-Bangladeshi-Cuisine.png" alt=""></a>
            </li>
            <li>
              <a href="reservation.html"><img src="img/Zeera-Indian-Cuisine.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- featured restaurant Ends -->




<!-- Download App Start
====================================================== -->
<section class="download-app-area">
  <div class="download-app-sec" style="background:url(img/download-app.jpg) bottom center no-repeat fixed;
        background-size:cover;">
    <div class="mask">
      <div class="container">
        <div class="col-lg-7 col-md-7 col-sm-12 container-cell left-container col-md-push-1">
          <div class="app-content row">
            <div class="inner">
              <h1 class="logo-content">Thefoody in your pocket!</h1>
              <h3 class="logo-subtitle">Get our app, it's the fastest way to order food on the go.</h3>
              <!--<p class="content">
                                Keep an eye on Thefoody, it is already on your way. Come back here for checkout the latest updates.
                            </p>-->
              <ul class="list-inline appstore-buttons">
                <li><a href="#" class="btn-store btn-appstore">App Store</a></li>
                <li><a href="#" class="btn-store btn-googleplay">Google Play</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-4 right-align">
          <div class="left-area visible-lg">
            <img src="img/mobilev2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- =================================================
Download App End -->


</body>



</html>